<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Add Lab Nosema Test</title>

    <style>
div {
width: auto;
text-align: center;
padding: 15px;
border: 3px solid red;
}
img {
max-width: 25%;
height: auto;
}
</style>

</head>

<body>

<form action="" method="POST">

  {% csrf_token %}

    <a href="/home">Home</a>

    <h2> </h2>

    <h1>Liczymy Nosema!</h1>



    <h2> </h2>

        {% load static %}
    <img src="{% static '/images/nosema.jpg' %}" alt="Nosema">


    <h2> </h2>

      <label for="animal">Imię zwierzęcia:</label>

  <select name="animal_id">
  {% for animal in animals %}

    <option value="{{ animal.id }}">{{ animal.name_or_number }}</option>

  {% endfor %}
</select>

<h2> </h2>

  <label for="apis">Nosema apis:</label>

  <input type="number" id="apis" name="apis">

    <h2> </h2>

  <label for="cerane">Nosema cerane:</label>

  <input type="number" id="cerane" name="cerane">

    <h2> </h2>

  <input type="submit" value="Dodaj">

</form>


</body>

</html>